<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AdminLTE 3 | Top Navigation + Sidebar</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="~/Content/plugins/fontawesome/css/all.min.css">
    <!-- Theme style -->
    <link href="~/Content/plugins/toastr/toastr.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/dist/css/adminlte.min.css">
    <link rel="stylesheet" href="~/Content/style.css">

    @RenderSection("css", required: false)
    <style>
        .chat-popup {
            position: fixed !important;
            bottom: 0;
            right: 0;
            margin-right: 10px;
        }

        .direct-chat {
            width: 450px;
        }

        .direct-chat-messages {
            height: 550px;
        }

        .card-title {
            margin: 0 10px 0 0;
        }

        .card-header::after {
            display: block;
            clear: both;
            content: unset;
        }

        .chat-icon {
            background: #4284f3;
            border-radius: 50%;
            padding: 20px;
            margin: 15px;
        }

            .chat-icon i {
                font-size: 35px;
                color: #fff;
            }
    </style>
</head>
<body class="hold-transition sidebar-collapse layout-top-nav">
    <!-- Preloader -->
    <div class="preloader flex-column justify-content-center align-items-center">
        <img class="animation__shake" src="~/Content/dist/img/AdminLTELogo.png" alt="AdminLTELogo" height="60" width="60">
    </div>
    <div class="wrapper">
        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand-md navbar-light navbar-white">
            <div class="container">
                <a href="" class="navbar-brand">
                    <img src="~/Content/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
                    <span class="brand-text font-weight-light">AdminLTE 3</span>
                </a>

                <button class="navbar-toggler order-1" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse order-3" id="navbarCollapse">
                    <!-- Left navbar links -->
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a href="index3.html" class="nav-link active">Home</a>
                        </li>
                        <li class="nav-item">
                            <a href="@Url.Action("Index","Transactions")" class="nav-link">Funds Transfer</a>
                        </li>
                    </ul>
                </div>

                <!-- Right navbar links -->
                <ul class="order-1 order-md-3 navbar-nav navbar-no-expand ml-auto">
                    <!-- Messages Dropdown Menu -->
                    <li class="nav-item dropdown">
                        <a class="nav-link" data-toggle="dropdown" href="#">
                            <i class="fal fa-comments"></i>
                            <span class="badge badge-danger navbar-badge">3</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                            <a href="#" class="dropdown-item">
                                <!-- Message Start -->
                                <div class="media">
                                    <img src="~/Content/dist/img/user1-128x128.jpg" alt="User Avatar" class="img-size-50 mr-3 img-circle">
                                    <div class="media-body">
                                        <h3 class="dropdown-item-title">
                                            Brad Diesel
                                            <span class="float-right text-sm text-danger"><i class="fal fa-star"></i></span>
                                        </h3>
                                        <p class="text-sm">Call me whenever you can...</p>
                                        <p class="text-sm text-muted"><i class="fal fa-clock mr-1"></i> 4 Hours Ago</p>
                                    </div>
                                </div>
                                <!-- Message End -->
                            </a>
                            <div class="dropdown-divider"></div>
                            <a href="#" class="dropdown-item">
                                <!-- Message Start -->
                                <div class="media">
                                    <img src="~/Content/dist/img/user8-128x128.jpg" alt="User Avatar" class="img-size-50 img-circle mr-3">
                                    <div class="media-body">
                                        <h3 class="dropdown-item-title">
                                            John Pierce
                                            <span class="float-right text-sm text-muted"><i class="fal fa-star"></i></span>
                                        </h3>
                                        <p class="text-sm">I got your message bro</p>
                                        <p class="text-sm text-muted"><i class="fal fa-clock mr-1"></i> 4 Hours Ago</p>
                                    </div>
                                </div>
                                <!-- Message End -->
                            </a>
                            <div class="dropdown-divider"></div>
                            <a href="#" class="dropdown-item">
                                <!-- Message Start -->
                                <div class="media">
                                    <img src="~/Content/dist/img/user3-128x128.jpg" alt="User Avatar" class="img-size-50 img-circle mr-3">
                                    <div class="media-body">
                                        <h3 class="dropdown-item-title">
                                            Nora Silvester
                                            <span class="float-right text-sm text-warning"><i class="fal fa-star"></i></span>
                                        </h3>
                                        <p class="text-sm">The subject goes here</p>
                                        <p class="text-sm text-muted"><i class="fal fa-clock mr-1"></i> 4 Hours Ago</p>
                                    </div>
                                </div>
                                <!-- Message End -->
                            </a>
                            <div class="dropdown-divider"></div>
                            <a href="#" class="dropdown-item dropdown-footer">See All Messages</a>
                        </div>
                    </li>
                    <!-- Notifications Dropdown Menu -->
                    <li class="nav-item dropdown">
                        <a class="nav-link" data-toggle="dropdown" href="#">
                            <i class="fal fa-bell"></i>
                            <span class="badge badge-warning navbar-badge">15</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                            <span class="dropdown-header">15 Notifications</span>
                            <div class="dropdown-divider"></div>
                            <a href="#" class="dropdown-item">
                                <i class="fal fa-envelope mr-2"></i> 4 new messages
                                <span class="float-right text-muted text-sm">3 mins</span>
                            </a>
                            <div class="dropdown-divider"></div>
                            <a href="#" class="dropdown-item">
                                <i class="fal fa-users mr-2"></i> 8 friend requests
                                <span class="float-right text-muted text-sm">12 hours</span>
                            </a>
                            <div class="dropdown-divider"></div>
                            <a href="#" class="dropdown-item">
                                <i class="fal fa-file mr-2"></i> 3 new reports
                                <span class="float-right text-muted text-sm">2 days</span>
                            </a>
                            <div class="dropdown-divider"></div>
                            <a href="#" class="dropdown-item dropdown-footer">See All Notifications</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link" data-toggle="dropdown" href="#">
                            <i class="fal fa-user"></i>
                            Hi, @Session["Email"]
                        </a>
                        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                            <a href="@Url.Action("InfoAccount", "Home")" class="dropdown-item">
                                <i class="fal fa-id-card"></i> Account's information
                            </a>
                            <div class="dropdown-divider"></div>
                            <a href="@Url.Action("Logout", "Home")" class="dropdown-item">
                                <i class="fal fa-sign-out"></i> Logout
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
        <!-- /.navbar -->
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <div class="container">
                @RenderBody()

                <div class="card direct-chat chat-popup direct-chat-primary" style="display: none;">
                    <div class="card-header d-flex align-items-center justify-content-between">
                        <h3 class="card-title">
                            Direct Chat
                            <span data-toggle="tooltip" title="3 New Messages" class="badge badge-warning">3</span>
                        </h3>

                        <div class="card-tools">
                            <button type="button" class="btn btn-tool btn-remove" data-card-widget="remove">
                                <i class="fas fa-times"></i>
                            </button>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <!-- Conversations are loaded here -->
                        <div class="direct-chat-messages" id="discussion">
                        </div>
                        <!--/.direct-chat-messages-->
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer">
                        <form action="#" method="post" id="chat" onsubmit="return false;">
                            <div class="input-group">
                                <input type="text" id="message" name="message" placeholder="Type Message ..." class="form-control">
                                <span class="input-group-append">
                                    <button type="submit" class="btn btn-primary">Send</button>
                                </span>
                            </div>
                        </form>
                    </div>
                    <!-- /.card-footer-->
                </div>

                <div class="chat-popup">
                    <div class="chat-icon">
                        <i class="fas fa-comment-smile"></i>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.content-wrapper -->
        <!-- Main Footer -->
        <footer class="main-footer">
            <!-- To the right -->
            <div class="float-right d-none d-sm-inline">
                Anything you want
            </div>
            <!-- Default to the left -->
            <strong>Copyright &copy; 2014-2021 <a href="https://adminlte.io">AdminLTE.io</a>.</strong> All rights reserved.
        </footer>
    </div>
    <!-- ./wrapper -->
    <!-- REQUIRED SCRIPTS -->
    <!-- jQuery -->
    <script src="~/Content/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/Content/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/Content/plugins/toastr/toastr.min.js"></script>
    <script src="~/Content/dist/js/adminlte.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="~/Content/dist/js/demo.js"></script>
    @RenderSection("Scripts", required: false)

    @if (@Session["Email"] != null)
    {
        <!--Reference the SignalR library. -->
        <script src="~/Scripts/jquery.signalR-2.2.2.min.js"></script>
        <!--Reference the autogenerated SignalR hub script. -->
        <script src="~/signalr/hubs"></script>
        <!--SignalR script to update the chat page and send messages.-->
        <script>

        $(function () {
            $.connection.hub.qs = { "userId": '@Session["userId"]', "name": '@Session["name"]' };

            $(".chat-icon").click(function () {
                $(".direct-chat").show();
                $(this).hide();
            });

            $(".direct-chat .btn-remove").click(function () {
                $(".chat-icon").show();
                $(".direct-chat").hide();
            });

            // Reference the auto-generated proxy for the hub.
            var connection = $.connection;
            var hub = connection.chatHub;
            var user = connection.hub.qs.name;

            // Create a function that the hub can call back to display messages.
            hub.client.newMessage = function (res) {
                console.log(res);
                //var msg = `
                //    <div class="direct-chat-msg ${user == name ? 'right' : ''} ">
                //        <div class="direct-chat-infos clearfix">
                //            <span class="direct-chat-name ${user == name ? 'float-right' : 'float-left'}">${htmlEncode(name)}</span>
                //            <span class="direct-chat-timestamp ${user == name ? 'float-left' : 'float-right'}">23 Jan 2:05 pm</span>
                //        </div>
                //        <!-- /.direct-chat-infos -->
                //        <img class="direct-chat-img" src="/Content/dist/img/user3-128x128.jpg" alt="message user image">

                //        <!-- /.direct-chat-img -->
                //        <div class="direct-chat-text">
                //            ${htmlEncode(message)}
                //        </div>
                //        <!-- /.direct-chat-text -->
                //    </div>`;
                //// Add the message to the page.
                //$('#discussion')
                //    .append(msg)
                //    .animate({ scrollTop: $('#discussion').prop("scrollHeight") }, 150);
            };

            connection.hub.start().done(function () {
                $('#chat').submit(function () {
                    if ($('#message').val() !== "") {
                        hub.server.send(0, $('#message').val());
                        // Clear text box and reset focus for next comment.
                        $('#message').val('').focus();
                    }
                    event.preventDefault();
                });
            });

            connection.hub.disconnected(function () {
                setTimeout(function () {
                    connection.hub.start();
                }, 3000); // Restart connection
            });
        });
        </script>
    }
</body>
</html>
