@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section css{
    <link href="~/Content/vendor/datatables/css/jquery.dataTables.min.css" rel="stylesheet"/>
}

<div class="page-titles">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="javascript:void(0)">Home</a>
        </li>
        <li class="breadcrumb-item active">
            <a href="javascript:void(0)">User Management</a>
        </li>
    </ol>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card card-success">
            <div class="card-header">
                <h3 class="card-title">User Management</h3>
                <button class="btn btn-sm btn-primary btn-add">Create New User</button>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="display table-responsive-lg min-w850 dataTable no-footer" id="datatables" role="grid" aria-describedby="example4_info">
                        <thead>
                        <tr>
                            <th>No</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>RoleName </th>
                            <th>Status </th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody id="tbl_user"></tbody>

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade " id="myModal" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form id="formData" method="POST" novalidate="novalidate">
                <div class="modal-header">
                    <h4 class="modal-title">Update Infomation Account</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <div class="modal-body">
                    <input type="hidden" name="Id" id="Id" value=""/>
                    <input type="hidden" name="type" id="type" value="CREATE"/>

                    <div class="form-group">
                        <label>Name <span class="text-danger">*</span></label>
                        <div class="error">
                            <input type="text" class="form-control" id="Name" name="Name" placeholder="Name...">
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Email <span class="text-danger">*</span></label>
                        <div class="error">
                            <input type="text" class="form-control" id="Email" name="Email" placeholder="Email...">
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Password <span class="text-danger">*</span></label>
                        <div class="error">
                            <input type="text" class="form-control" id="Password" name="Password" placeholder="Password...">
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Phone <span class="text-danger">*</span></label>
                        <div class="error"> 
                            <input type="text" class="form-control" id="Phone" name="Phone" placeholder="Phone...">
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Address </label>
                        <div class="error">
                            <input type="text" class="form-control" id="Address" name="Address" placeholder="Address...">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-6">
                                <label>Birthday <span class="text-danger">*</span></label>
                                <div class="error input-group date" id="reservationdate" data-target-input="nearest">
                                    <input type="date" class="form-control" id="Birthday" name="Birthday" value="1970-01-01">
                                </div>
                            </div>

                            <div class="col-md-6">
                                <label>NumberID <span class="text-danger">*</span></label>
                                <div class="error">
                                    <input type="text" class="form-control" id="NumberId" name="NumberId" placeholder="NumberID...">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-6">
                                <label>Role <span class="text-danger">*</span></label>
                                <div>
                                    <select class="form-control" id="RoleId" name="RoleId">
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label>Status <span class="text-danger">*</span></label>
                                <div>
                                    <select class="form-control" id="Status" name="Status">
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success">Save</button>
                    <button type="button" class="btn btn-warning" data-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section AdminlteJs{
    <script src="~/Content/vendor/datatables/js/jquery.dataTables.min.js"></script>
}

@section scripts{

    <script>
    $.validator.addMethod("minAge", function (value, element, min) {
                if (this.optional(element)) {
                    return true;
                }
                var today = new Date();
                var birthDate = new Date(value);
                var age = today.getFullYear() - birthDate.getFullYear();
                return age >= min;
            }, "You are not old enough!");
        const validator = $("#formData").validate({
            rules: {
                "Name": {
                    required: true
                },
                "Email": {
                    required: true
                },
                "Password": {
                    required: true
                },
                "Birthday": {
                    required: true,
                    minAge: 18,
                },
                "Address": {
                    required: true
                },
                "Phone": {
                    required: true
                },
                "NumberId": {
                    required: true
                },
                "RoleId": {
                    required: true
                },
                "Status": {
                    required: true
                },
            },
            messages: {
                Birthday: {
                    minAge: "Your age must be greater than 18"
                }
            },
            ignore: [],
            errorClass: "invalid-feedback animated fadeInUp",
            errorElement: "div",
            errorPlacement: function (e, a) {
               jQuery(a).after(e)
            },
            highlight: function (e) {
                jQuery(e).closest(".form-group").removeClass("is-invalid").addClass("is-invalid")
            },
            success: function (e) {
                jQuery(e).closest(".form-group").removeClass("is-invalid").addClass("is-valid")
            },

            submitHandler: function () {
                const user = {
                    Name: $("#Name").val(),
                    Email: $("#Email").val(),
                    Password: $("#Password").val(),
                    Birthday: $("#Birthday").val(),
                    Address: $("#Address").val(),
                    Phone: $("#Phone").val(),
                    NumberId: $("#NumberId").val(),
                    RoleId: $("#RoleId").val(),
                    Status: parseInt(($("#Status").val()))
                };
                if ($("#type").val() === "EDIT") {
                    user.AccountId = $("#Id").val();
                    managerAcc.put(user);
                } else {
                    managerAcc.post(user);
                }
            }
        });
    
        function loadStatus(status = null) {
            $.ajax({
                type: "GET",
                url: "@Url.Action("GetStatus", "Accounts")",
                success: function (res) {
                    console.log(res)
                    var html;
                    $.each(res, function (key, value) {
                        html += "<option value = '" + key + "' " + ((parseInt(status)) === key ? 'selected' : '') + ">" + value + " </option>";
                    });
                    $('#Status').html(html);
                }
            })
        }
        function loadRole(roleId = null) {
            $.ajax({
                type: "GET",
                url: "@Url.Action("GetRole", "Accounts")",
                success: function (res) {
                    console.log(res)
                    var html;
                    $.each(res, function (key, value) {
                        html += "<option value = '" + value.RoleId + "' " + (roleId === value.RoleId  ? 'selected' : '') + ">" + value.Name + " </option>";
                    });
                    $('#RoleId').html(html);
                }
            })
        }
        const managerAcc = {
            get: function (id) {
                $.ajax({
                    type: "GET",
                    url: "@Url.Action("FindId", "Accounts")",
                    data: { id: id },
                    success: function (res) {
                        console.log(res);
                        $("#Id").val(res.AccountId);
                        $("#Name").val(res.Name);
                        $("#Email").val(res.Email);
                        $("#Password").val(res.Password);
                        $("#Phone").val(res.Phone);
                        $("#Address").val(res.Address);
                        $("#Birthday").val(res.Birthday);
                        $("#NumberId").val(res.NumberId);
                        loadRole(res.RoleId);
                        loadStatus(res.Status);
                        $("#myModal").modal("show");
                    }
                })
            },
            put: function (user) {
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("Edit", "Accounts")",
                    data: user,
                    success: function (res) {
                        if (res.statusCode === 200) {
                            notifySuccess('Updated Successfully',"Updated Successfully");
                            $("#myModal").modal("hide");
                            $('#datatables').DataTable().ajax.reload();
                        }else {
                            validator.showErrors(res.data);
                        }
                    }

                })
            },
            post: function (user) {
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("Create", "Accounts")",
                    data: user,
                    success: function (res) {
                        if (res.statusCode === 200) {
                            notifySuccess('Created Successfully',"Created Successfully");
                            $("#myModal").modal("hide");
                            $('#datatables').DataTable().ajax.reload();
                        }
                        else {
                             validator.showErrors(res.data);
                        }
                    }

                })
            },
            delete: function (id) {
                $.ajax({
                    type: "GET",
                    url: `/Admin/Accounts/Delete/${id}`,
                    success: function (res) {
                        if (res.statusCode === 200) {
                            notifySuccess('Successfully',"Deleted Successfully");
                            $('#datatables').DataTable().ajax.reload();
                        }else {
                            notifyError('Error',"Deleted Error");
                            $('#datatables').DataTable().ajax.reload();
                        }
                        
                    }
                })
            }
        };
        $(function () {
            $('#datatables').DataTable({
                "paging": true,
                "ordering": true,
                "autoWidth": false,
                "responsive": true,
                "processing": true,
                "filter": true,
                "lengthMenu": [5, 10, 20, 50, 100, 200, 500],
                "ajax": "@Url.Action("GetData", "Accounts")",
                "order": [
                    [0, 'asc']
                ],
                "columns": [
                    {
                        data: 'AccountId',
                        className: 'align-middle text-center'
                    },
                    {
                        data: 'Name',
                        className: 'align-middle',
                    },
                    {
                        data: 'Email',
                        className: 'align-middle',
                    },
                    {
                        "data": 'RoleName',
                        "className": 'align-middle',
                        "searchable": false,
                        "orderable": false,
                    },
                    {
                        data: 'StatusName',
                        className: 'align-middle text-center',
                        "searchable": false,
                        "orderable": false,
                    },
                    {
                        data: {AccountId:'AccountId'},
                        "render": function (data) {
                            let detail = "@Url.Action("ProfileAccount", "Accounts")/"+data.AccountId;
                            return '<div class="dropdown custom-dropdown mb-0"><div class="btn sharp btn-primary tp-btn" data-toggle="dropdown" aria-expanded="false"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="18px" height="18px" viewBox="0 0 24 24" version="1.1"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><rect x="0" y="0" width="24" height="24"></rect><circle fill="#000000" cx="12" cy="5" r="2"></circle><circle fill="#000000" cx="12" cy="12" r="2"></circle><circle fill="#000000" cx="12" cy="19" r="2"></circle></g></svg></div><div class="dropdown-menu dropdown-menu-right" x-placement="bottom-end" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(40px, 41px, 0px);">' +
                             '<a href="'+detail+'" class="dropdown-item btn-detail" >Details</a>' +
                              '<a  data-id=" '+ data.AccountId +' " class="dropdown-item btn-edit" href="javascript:void(0);">Edit</a>' +
                               '<a  data-id=" '+ data.AccountId + '" class="dropdown-item text-danger btn-delete" href="javascript:void(0);">Delete</a></div></div>'
                             }
                    },
                ]
            })

            $(document).on("click", ".btn-edit", function () {
                $("#type").val("EDIT");
                let userId = $(this).data("id");
                let a = managerAcc.get(userId);
            })
            
            $(document).on("click", ".btn-add", function () {
                validator.resetForm();
                loadRole(0);
                loadStatus(0);
                $(".modal-title").html("Create Account");
                $("#formData").trigger("reset");
                $("#myModal").modal("show");
            })
            $(document).on("click", ".btn-delete", function () {
                let userId = $(this).data("id");
                managerAcc.delete(userId);
            });
        })

    </script>
}