@model OnlineBanking.DAL.AccountViewModel
@{
    ViewBag.Title = "ProfileAccount";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Account Profile</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Account Profile</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-3">
                <div class="card card-success">
                    <div class="card-header">
                        <h3 class="card-title">Account Profile</h3>
                    </div>
                    <div class="card-body">
                        <div class="form-horizontal">
                            <input type="hidden" name="Id" id="AccountId" value="@Model.AccountId" />
                            <div class="form-group">
                                <strong>Id: </strong> @Model.AccountId
                            </div>
                            <div class="form-group">
                                <strong>Name: </strong> @Model.Name
                            </div>
                            <div class="form-group">
                                <strong>Email: </strong> @Model.Email
                            </div>
                            <div class="form-group">
                                <strong>Birthday: </strong>@Model.Birthday
                            </div>
                            <div class="form-group">
                                <strong>Address: </strong>@Model.Address
                            </div>
                            <div class="form-group">
                                <strong>Phone: </strong>@Model.Phone
                            </div>
                            <div class="form-group">
                                <strong>NumberID: </strong>@Model.NumberId
                            </div>
                            <div class="form-group">
                                <strong>Status: </strong>@Model.StatusName
                            </div>
                            <div class="form-group">
                                <strong>RoleId: </strong> @Model.RoleName
                            </div>
                            <div class="form-group">
                                <strong>CreatedAt: </strong>@Model.CreatedAt
                            </div>
                            <div class="form-group">
                                <strong>UpdatedAt: </strong> @Model.UpdatedAt
                            </div>
                        </div>
                    </div>
                    <div class="card-footer d-flex justify-content-center">

                    </div>

                    <!-- /.card-body -->
                </div>
            </div>
            <div class="col-md-9">
                <div class="card card-info">
                    <div class="card-header">
                        <h3 class="card-title">Total Account Number</h3>
                    </div>

                    <div class="card-body">
                        <a href="#/" class="btn btn-primary btn-sm mb-3 btn-add">New Account Number</a>
                        <div class="form-horizontal">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>No</th>
                                        <th>Account Number</th>
                                        <th>Balance</th>
                                        <th>CurrencyName </th>
                                        <th>Status </th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody id="tbl_banks"></tbody>

                            </table>
                        </div>
                    </div>
                    <div class="card-footer d-flex justify-content-center">

                    </div>
                    <!-- /.card-body -->
                </div>

                <div class="card card-info">
                    <div class="card-header">
                        <h3 class="card-title">Cheque Books</h3>
                        <button class="btn btn-primary btn-sm mb-3 text-right" id="btnAddChequeBook">New Cheque Book</button>
                    </div>

                    <div class="card-body">
                        <div class="form-horizontal">
                            <table class="display table-responsive-lg min-w850 dataTable no-footer" id="datatablesChequeBook" role="grid" aria-describedby="example4_info">
                                <thead>
                                    <tr>
                                        <th>No</th>
                                        <th>Code</th>
                                        <th>User's Name</th>
                                        <th>Status</th>
                                        <th>Cheques Used</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                    <div class="card-footer d-flex justify-content-center">

                    </div>

                    <!-- /.card-body -->
                </div>
            </div>
        </div>

        <!-- Default box -->
        <!-- /.card -->

    </section>

    <!-- /.content -->
</div>
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Update Infomation Account</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <input type="hidden" name="Id" id="Id" value="@Model.AccountId" />
                <input type="hidden" name="type" id="type" value="CREATE" />
                <form method="post" id="Form">
                    <div class="form-group">
                        <label for="exampleInputName">Account Number</label>
                        <input type="text" class="form-control" id="Name" placeholder="Account Number...">
                        <span class="error text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputName">Email</label>
                        <input type="text" class="form-control" id="Balance" placeholder="Balance...">
                        <span class="error text-danger"></span>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-6">
                                <label for="exampleInputClass">Currency</label>
                                <select class="form-control" id="CurrencyId" name="CurrencyId">
                                </select>
                                <span class="error text-danger"></span>
                            </div>
                            <div class="col-md-6">
                                <label for="exampleInputClass">Status</label>
                                <select class="form-control" id="Status" name="Status">
                                </select>
                                <span class="error text-danger"></span>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success toastrDefaultSuccess" id="btnSave">Save</button>
                <button type="button" class="btn btn-warning" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="MoneyManament" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-MoneyManament">Update Infomation Account</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <input type="hidden" name="BankAccountId" id="BankAccountId" value="" />
                <input type="hidden" name="type" id="type" value="CREATE" />
                <form method="post" id="Form2">
                    <div class="form-group">
                        <label for="exampleInputName">Account Number</label>
                        <label for="exampleInputClass">Currency</label>
                        <select class="form-control" id="AccountNumberManament" placeholder="Account Number...">
                        </select>
                        <span class="error text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputName">Balance</label>
                        <input type="text" class="form-control" id="BalanceManament" placeholder="Balance...">
                        <span class="error text-danger"></span>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success toastrDefaultSuccess" id="btnSave">Save</button>
                <button type="button" class="btn btn-warning" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script>
        function loadStatus(status = null) {
            $.ajax({
                type: "GET",
                url: "/Admin/BankAccounts/GetStatus",
                success: function (res) {
                    var html;
                    $.each(res, function (key, value) {
                        html += "<option value = '" + key + "' " + ((parseInt(status)) - 1 == key ? 'selected' : '') + ">" + value + " </option>";
                    });
                    $('#Status').html(html);
                }
            })
        }
        function loadCurrency(CurrencyId = null, page = 1, key = null, pageSize = 100) {
            $.ajax({
                type: "GET",
                url: "/Admin/Currencies/GetData",
                data: { page: page, key: key, pageSize: pageSize},
                success: function (res) {
                    var html;
                    $.each(res.data, function (key, value) {
                        html += "<option value = '" + value.CurrencyId + "' " + (CurrencyId == value.CurrencyId ? 'selected' : '') + ">" + value.Name + " </option>";
                    });
                    $('#CurrencyId').html(html);
                }
            })
        }
        function loadAccountNumber(accountId) {
            $.ajax({
                type: "GET",
                url: "/Admin/BankAccounts/GetData",
                data: { Account: accountId },
                success: function (res) {
                    console.log(res)
                    var html;
                    $.each(res.data, function (key, value) {
                        html += "<option value = '" + value.BankAccountId + "'  >" + value.Name + " </option>";
                    });
                    $('#AccountNumberManament').html(html);
                }
            })
        }

        var managerBank = {
            load: function (accountId) {
                $.ajax({
                    type: "GET",
                    url: "/Admin/BankAccounts/GetData",
                    data: { Account : accountId },
                    success: function (res) {
                        console.log(res)
                        let _html = "";
                        let ii = 0;
                        for (let item of res.data) {
                            _html += `<tr>
                                        <td>${ii}</td>
                                        <td>${(item.Name) == null ? "" : item.Name}</td>
                                        <td>${(item.Balance) == null ? "" : item.Balance}</td>
                                        <td>${(item.CurrencyName) == null ? "" : item.CurrencyName}</td>
                                        <td>${(item.StatusName) == null ? "" : item.StatusName}</td>
                                        <td class="btn-group">
                                            <button data-id="${item.BankAccountId}" class='btn btn-info btn-manager'>Money Managment</button>
                                            <button data-id="${item.BankAccountId}" class='btn btn-primary btn-detail'>Detail</button>
                                            <button data-id="${item.BankAccountId}" class='btn btn-warning btn-edit'>Edit</button>
                                            <button data-id="${item.BankAccountId}" class='btn btn-danger'>Detele</button></td>
                                    </tr>`
                            ii++;
                        }
                        $('#tbl_banks').html(_html);

                    }
                });
            },
            post: function (bank) {
                $.ajax({
                    type: "POST",
                    url: "/Admin/BankAccounts/Create",
                    data: bank,
                    success: function (res) {
                        console.log(bank)
                        if (res.statusCode == 200) {
                            $("#myModal").modal("hide");
                            var AccountId = $("#AccountId").val();
                            managerBank.load(AccountId);
                            toastr.success('Created Successfully')
                        }
                    }

                })
            },
            put: function (bank) {
                $.ajax({
                    type: "POST",
                    url: "/Admin/BankAccounts/Edit",
                    data: bank,
                    success: function (res) {
                        if (res.statusCode == 200) {
                            $("#myModal").modal("hide");
                            var AccountId = $("#AccountId").val();
                            maModelagerBank.load(AccountId);
                            toastr.success('Updated Successfully')
                        }
                    }

                })
            },
            receiveMoney: function (bankId,balance) {
                $.ajax({
                    type: "POST",
                    url: "/Admin/BankAccounts/ReceiveMoney",
                    data: { id: bankId, money: balance},
                    success: function (res) {
                        if (res.statusCode == 200) {
                            $("#MoneyManament").modal("hide");
                            var AccountId = $("#AccountId").val();
                            managerBank.load(AccountId);
                            toastr.success('Transferred Successfully');
                        }
                    }

                })
            }
        }


        //Cheque Book
        var managerChequeBook = {
            get: function (id) {
                $.ajax({
                    type: "GET",
                    url: "/Admin/ChequeBooks/FindId",
                    data: { id: id },
                    success: function (res) {
                        console.log(res);
                    }
                })
            },
            put: function (chequeBook) {
                $.ajax({
                    type: "POST",
                    url: "/Admin/ChequeBooks/Edit",
                    data: chequeBook,
                    success: function (res) {
                        if (res.statusCode == 200) {
                            $('#datatables').DataTable().ajax.reload();
                            $("#myModal").modal("hide");
                            toastr.success('Updated Successfully')
                        }
                    }

                })
            },
            post: function (chequeBook) {
                $.ajax({
                    type: "POST",
                    url: "/Admin/ChequeBooks/Create",
                    data: chequeBook,
                    success: function (res) {
                        if (res.statusCode == 200) {
                            $('#datatablesChequeBook').DataTable().ajax.reload();
                            toastr.success('Created Successfully')
                        }
                    }

                })
            }
        }

        $('#datatablesChequeBook').DataTable({
            "paging": true,
            "ordering": true,
            "autoWidth": false,
            "responsive": true,
            "processing": true,
            "filter": true,
            "lengthMenu": [5, 10, 20, 50, 100, 200, 500],
            "ajax": {
                'url': '/Admin/ChequeBooks/GetAccountData',
                'data': { AccountId: @Model.AccountId},
            },
            "order": [
                [0, 'asc']
            ],
            "columns": [
                {
                    data: 'ChequeBookId',
                    className: 'align-middle text-center'
                },
                {
                    data: 'Code',
                    className: 'align-middle',
                },
                {
                    data: 'AccountName',
                    className: 'align-middle',
                },

                {
                    data: 'StatusName',
                    className: 'align-middle text-center',
                    "orderable": false,
                },
                {
                    data: 'ChequesUsed',
                    className: 'align-middle text-center',
                    "orderable": false
                },
                {
                    data: 'ChequeBookId',
                    "render": function (data, type, row) {
                        return '<div class="dropdown custom-dropdown mb-0"><div class="btn sharp btn-primary tp-btn" data-toggle="dropdown" aria-expanded="false"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="18px" height="18px" viewBox="0 0 24 24" version="1.1"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><rect x="0" y="0" width="24" height="24"></rect><circle fill="#000000" cx="12" cy="5" r="2"></circle><circle fill="#000000" cx="12" cy="12" r="2"></circle><circle fill="#000000" cx="12" cy="19" r="2"></circle></g></svg></div><div class="dropdown-menu dropdown-menu-right" x-placement="bottom-end" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(40px, 41px, 0px);"><a data-id="' + row.ChequeBookId + '" class="dropdown-item btn-detail" href="javascript:void(0);">Details</a><a data-id="' + row.ChequeBookId + '" class="dropdown-item btn-edit" href="javascript:void(0);">Edit</a></div></div>'
                    }
                },
            ]
        })


        $(function () {
            $(document).on("click", ".btn-detail", function () {
                let bankId = $(this).data("id");
                window.location.assign("/Admin/Transactions/ProfileAccountNumber/" + bankId)
            })

            $(document).on("click", "#btnAddChequeBook", function () {
                var chequebook = {
                    AccountId: @Model.AccountId,
                }
                managerChequeBook.post(chequebook);
            })

            var AccountId = $("#AccountId").val();
            managerBank.load(AccountId);
            $(document).on("click", ".btn-add", function () {
                loadStatus();
                loadCurrency();
                $("#myModal").modal("show");
                $(".modal-title").html("Create Account Number");
            })

            $(document).on("click", ".btn-manager", function () {
                $("#type").val("TRANSFER");
                loadStatus();
                loadCurrency();
                loadAccountNumber(AccountId);
                $("#MoneyManament").modal("show");
                $(".modal-MoneyManament").html("Money management");

            })

            $(document).on("click", ".btn-manager", function () {
                $("#type").val("TRANSFER");
                loadStatus();
                loadCurrency();
                loadAccountNumber(AccountId);
                $("#MoneyManament").modal("show");
                $(".modal-MoneyManament").html("Money management");

            })

            $(document).on("click", "#btnSave", function () {
                var today = new Date();
                var bank = {
                    AccountId: $("#Id").val(),
                    CurrencyId: $("#CurrencyId").val(),
                    Status: parseInt(($("#Status").val())),
                    Balance: $("#Balance").val(),
                    Name: $("#Name").val()
                };
                if ($("#type").val() == "EDIT") {
                    bank.UpdatedAt = today.getFullYear() + '-' + (today.getMonth() + 1) + '-' + today.getDate();
                    bank.BankAccountId = $("#Id").val(),
                    managerBank.put(user);
                } else if ($("#type").val() == "TRANSFER") {
                    let accountNumber = $("#AccountNumberManament").val();
                    let balance = $("#BalanceManament").val();
                    managerBank.receiveMoney(accountNumber, balance);
                } else {
                    bank.CreatedAt = today.getFullYear() + '-' + (today.getMonth() + 1) + '-' + today.getDate();
                    managerBank.post(bank);
                }

            })
        })
    </script>
}
