
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Account Profile</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Account Profile</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-3">
                <div class="card card-success">
                    <div class="card-header">
                        <h3 class="card-title">Account Profile</h3>
                    </div>
                    <div class="card-body">
                        <div class="form-horizontal">
                            <input type="hidden" name="Id" id="AccountId" value="@Model.AccountId" />
                            <div class="form-group">
                                <strong>Id: </strong> @Model.AccountId
                            </div>
                            <div class="form-group">
                                <strong>Name: </strong> @Model.Name
                            </div>
                            <div class="form-group">
                                <strong>Email: </strong> @Model.Email
                            </div>
                            <div class="form-group">
                                <strong>Birthday: </strong>@Model.Birthday
                            </div>
                            <div class="form-group">
                                <strong>Address: </strong>@Model.Address
                            </div>
                            <div class="form-group">
                                <strong>Phone: </strong>@Model.Phone
                            </div>
                            <div class="form-group">
                                <strong>NumberID: </strong>@Model.NumberID
                            </div>
                            <div class="form-group">
                                <strong>Status: </strong>@Model.StatusName
                            </div>
                            <div class="form-group">
                                <strong>RoleId: </strong> @Model.RoleName
                            </div>
                            <div class="form-group">
                                <strong>CreatedAt: </strong>@Model.CreatedAt
                            </div>
                            <div class="form-group">
                                <strong>UpdatedAt: </strong> @Model.UpdatedAt
                            </div>
                        </div>
                    </div>
                    <div class="card-footer d-flex justify-content-center">

                    </div>

                    <!-- /.card-body -->
                </div>
            </div>
            <div class="col-md-9">
                <div class="card card-info">
                    <div class="card-header">
                        <h3 class="card-title">Total Account Number</h3>
                    </div>

                    <div class="card-body">
                        <a href="#" class="btn btn-primary btn-sm mb-3 btn-add">New Account Number</a>
                        <div class="form-horizontal">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>No</th>
                                        <th>Account Number</th>
                                        <th>Balance</th>
                                        <th>CurrencyName </th>
                                        <th>Status </th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody id="tbl_banks"></tbody>

                            </table>
                        </div>
                    </div>
                    <div class="card-footer d-flex justify-content-center">

                    </div>

                    <!-- /.card-body -->
                </div>
            </div>
        </div>

        <!-- Default box -->
        <!-- /.card -->

    </section>

    <!-- /.content -->
</div>

