@using OnlineBanking.DAL
@model OnlineBanking.DAL.TransactionsDetailViewModels

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">Transactions Detail #@Model.TransactionId</h5>
            </div>
            <div class="card-body">
                <div class="basic-list-group">
                    <ul class="list-group">
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Reference number <span class="badge badge-rounded badge-outline-info">@Model.TransactionId</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            From <span class="badge badge-rounded badge-outline-success">@Model.FromName</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            From account <span class="badge badge-rounded badge-outline-secondary">@Model.FromId</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Date <span class="badge badge-rounded badge-outline-warning">@Model.CreatedAt</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Amount
                                @* <span class="badge badge-rounded badge-outline-danger">@Model.Currency</span> *@
                                <span class="badge badge-rounded badge-outline-danger" id="Amount"></span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Beneficiary <span class="badge badge-rounded badge-outline-success">@Model.ToName</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Beneficiary account <span class="badge badge-rounded badge-outline-secondary">@Model.ToId</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Message <span class="badge badge-rounded badge-outline-dark">@Model.Messages</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
    $(function (){
        $("#Amount").html('@(Model.Type == 1 ? "-" : "+") ' + new Intl.NumberFormat('vi-VN', { style: 'currency', currency: '@Model.Currency' }).format(@Model.Amount));
        
    });
    </script>
}